<?xml version="1.0" encoding="UTF-8" ?>
<suite name="用户管理系统测试套件">
    <test name="用户管理系统测试用例">
        <classes>
            <class name="com.course.cases.LoginTest">
                <methods>
                    <include name="loginTrue"/>
                    <include name="loginFalse"/>
                </methods>
            </class>
            <class name="com.course.cases.AddUserTest">
                <methods>
                    <include name="addUser"/>
                </methods>
            </class>
            <class name="com.course.cases.GetUserInfoTest">
                <methods>
                    <include name="getUserInfo"/>

                </methods>
            </class>
            <class name="com.course.cases.UpdateUserInfoTest">
                <methods>
                    <include name="updateUserInfo"/>
                    <include name="deleteUser"/>
                </methods>
            </class>
            <class name="com.course.cases.GetUserInfoListTest">
                <methods>
                    <include name="getUserListInfo"/>
                </methods>
            </class>
        </classes>


    </test>
    <listeners>
        <listener class-name="com.course.config.ExtentTestNGIReporterListener"/>

    </listeners>
</suite>